@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
       <img src="C:/Users/Krithika K/Desktop/DevSecOps/Delicious Dumplings/Kubernetes Security Fundamentals/logo1.png" alt="loading" />
       <form action="/action_page.php" method="get">
  <label for="fname">For New Appointment:</label><br /><br />
  <button name="bt1" type="button">Make a new Appointment</button><br /><br />
  
  <label for="lname">Test Result</label><br /><br />
  <button name="bt1" type="button">Test Results</button>
</form>
</div>
