<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a031392d-2f29-4da6-977b-f1b0e4097351/resourcegroups/RBACRG1/providers/Microsoft.Web/sites/NewDemo20220818174516</ResourceId>
    <ResourceGroup>RBACRG1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://newdemo20220818174516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3775d10e-6433-4e01-9717-0900ed87d60a</ProjectGuid>
    <PublishUrl>https://newdemo20220818174516.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NewDemo20220818174516</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>